# MongoDB Configuration
VITE_MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net"
VITE_DB_NAME="smile_schedule_db"

# WhatsApp Configuration
# TWILIO_ACCOUNT_SID=your_twilio_account_sid
# TWILIO_AUTH_TOKEN=your_twilio_auth_token
# TWILIO_PHONE_NUMBER=your_twilio_phone_number